<a href="https://colab.research.google.com/github/Super-rookie-Py/_MachineLearning_Class/blob/main/%EB%B0%95%EA%B1%B4%EC%9A%B0_%EC%99%80%EC%9D%B8%EB%8D%B0%EC%9D%B4%ED%84%B0_%EB%A1%9C%EC%A7%80%EC%8A%A4%ED%8B%B1_%ED%9A%8C%EA%B7%80_%EB%AA%A8%EB%8D%B8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 와인데이터 로지스틱 회귀모델

In [63]:
from sklearn.datasets import load_wine
from sklearn.model_selection import train_test_split, GridSearchCV, cross_val_score, cross_validate
from sklearn.pipeline import make_pipeline, Pipeline
from sklearn.preprocessing import StandardScaler , MinMaxScaler
from sklearn.linear_model import LogisticRegression
import pandas as pd
import multiprocessing

### 정규화 과정을 거친 로지스틱회귀모델

In [108]:
X, y = load_wine(return_X_y=True)

X_train, X_test, y_train, y_test = train_test_split(X, y, random_state = 20)

model = make_pipeline(
    StandardScaler(),
    LogisticRegression()
)
model.fit(X_train, y_train)

Pipeline(memory=None,
         steps=[('standardscaler',
                 StandardScaler(copy=True, with_mean=True, with_std=True)),
                ('logisticregression',
                 LogisticRegression(C=1.0, class_weight=None, dual=False,
                                    fit_intercept=True, intercept_scaling=1,
                                    l1_ratio=None, max_iter=100,
                                    multi_class='auto', n_jobs=None,
                                    penalty='l2', random_state=None,
                                    solver='lbfgs', tol=0.0001, verbose=0,
                                    warm_start=False))],
         verbose=False)

In [109]:
cross_validate(
    estimator=model,
    X= X, y= y,
    cv= 5,
    n_jobs = multiprocessing.cpu_count(),
    verbose=True
)

[Parallel(n_jobs=2)]: Using backend LokyBackend with 2 concurrent workers.
[Parallel(n_jobs=2)]: Done   5 out of   5 | elapsed:    0.1s finished

{'fit_time': array([0.02232957, 0.0306201 , 0.01530313, 0.01574683, 0.01232195]),
 'score_time': array([0.00083375, 0.00087547, 0.00083876, 0.00090504, 0.00059032]),
 'test_score': array([0.97222222, 0.97222222, 1.        , 0.97142857, 1.        ])}

In [110]:
print("학습 데이터 점수: {}".format(model.score(X_train, y_train)))
print("평가 데이터 점수: {}".format(model.score(X_test, y_test)))

학습 데이터 점수: 1.0
평가 데이터 점수: 0.9777777777777777

In [111]:
scores = cross_val_score(model, X, y, scoring="accuracy", cv = 10)
print("CV 평균 점수: {}".format(scores.mean()))

CV 평균 점수: 0.9833333333333332

### GridSearchCV 이용해 최적의 파라미터찾기

- 데이터 전처리

In [112]:
wine = load_wine()
wine_df = pd.DataFrame(data=wine.data, columns = wine.feature_names)
wine_df.describe()

          alcohol  malic_acid  ...  od280/od315_of_diluted_wines      proline
count  178.000000  178.000000  ...                    178.000000   178.000000
mean    13.000618    2.336348  ...                      2.611685   746.893258
std      0.811827    1.117146  ...                      0.709990   314.907474
min     11.030000    0.740000  ...                      1.270000   278.000000
25%     12.362500    1.602500  ...                      1.937500   500.500000
50%     13.050000    1.865000  ...                      2.780000   673.500000
75%     13.677500    3.082500  ...                      3.170000   985.000000
max     14.830000    5.800000  ...                      4.000000  1680.000000

[8 rows x 13 columns]

In [113]:
scaler = StandardScaler()
wine_scaled = scaler.fit_transform(wine_df)
wine_df_scaled = pd.DataFrame(data=wine_scaled, columns = wine.feature_names)
wine_df_scaled.describe()

            alcohol    malic_acid  ...  od280/od315_of_diluted_wines       proline
count  1.780000e+02  1.780000e+02  ...                  1.780000e+02  1.780000e+02
mean   7.841418e-15  2.444986e-16  ...                  2.126888e-15 -6.985673e-17
std    1.002821e+00  1.002821e+00  ...                  1.002821e+00  1.002821e+00
min   -2.434235e+00 -1.432983e+00  ...                 -1.895054e+00 -1.493188e+00
25%   -7.882448e-01 -6.587486e-01  ...                 -9.522483e-01 -7.846378e-01
50%    6.099988e-02 -4.231120e-01  ...                  2.377348e-01 -2.337204e-01
75%    8.361286e-01  6.697929e-01  ...                  7.885875e-01  7.582494e-01
max    2.259772e+00  3.109192e+00  ...                  1.960915e+00  2.971473e+00

[8 rows x 13 columns]

In [114]:
X_train, X_test, y_train, y_test = train_test_split(wine_df_scaled, wine.target, test_size = 0.2, random_state= 20)

In [115]:
param_grid = [{"penalty": ["l1", 'l2'],
               "C" : [0.01, 0.1, 0.15 ,0.2, 0.3, 0.4]}]

gs = GridSearchCV(estimator = LogisticRegression(), param_grid = param_grid,
                  cv = 10, scoring ="accuracy", n_jobs=multiprocessing.cpu_count())
gs.fit(wine_df_scaled, wine.target)

GridSearchCV(cv=10, error_score=nan,
             estimator=LogisticRegression(C=1.0, class_weight=None, dual=False,
                                          fit_intercept=True,
                                          intercept_scaling=1, l1_ratio=None,
                                          max_iter=100, multi_class='auto',
                                          n_jobs=None, penalty='l2',
                                          random_state=None, solver='lbfgs',
                                          tol=0.0001, verbose=0,
                                          warm_start=False),
             iid='deprecated', n_jobs=2,
             param_grid=[{'C': [0.01, 0.1, 0.15, 0.2, 0.3, 0.4],
                          'penalty': ['l1', 'l2']}],
             pre_dispatch='2*n_jobs', refit=True, return_train_score=False,
             scoring='accuracy', verbose=0)

In [116]:
print(gs.best_estimator_)
print("최적 점수: {}".format(gs.best_score_))
print("최적 파라미터: {}".format(gs.best_params_))
pd.DataFrame(gs.cv_results_)

LogisticRegression(C=0.1, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=None, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)
최적 점수: 0.9888888888888889
최적 파라미터: {'C': 0.1, 'penalty': 'l2'}

    mean_fit_time  std_fit_time  ...  std_test_score  rank_test_score
0        0.001273      0.000930  ...             NaN                7
1        0.012263      0.001630  ...        0.025459                6
2        0.001032      0.000226  ...             NaN                8
3        0.014433      0.002492  ...        0.022222                1
4        0.001714      0.002938  ...             NaN                9
5        0.014703      0.005163  ...        0.022222                1
6        0.000918      0.000862  ...             NaN               10
7        0.015490      0.003045  ...        0.022222                1
8        0.000587      0.000070  ...             NaN               11
9        0.015809      0.002487  ...        0.022222                1
10       0.000958      0.000229  ...             NaN               12
11       0.017165      0.002562  ...        0.022222                1

[12 rows x 20 columns]

In [117]:
model = make_pipeline(
    StandardScaler(),
    LogisticRegression(penalty="l2", C = 0.1)
)
model.fit(X_train, y_train)

Pipeline(memory=None,
         steps=[('standardscaler',
                 StandardScaler(copy=True, with_mean=True, with_std=True)),
                ('logisticregression',
                 LogisticRegression(C=0.1, class_weight=None, dual=False,
                                    fit_intercept=True, intercept_scaling=1,
                                    l1_ratio=None, max_iter=100,
                                    multi_class='auto', n_jobs=None,
                                    penalty='l2', random_state=None,
                                    solver='lbfgs', tol=0.0001, verbose=0,
                                    warm_start=False))],
         verbose=False)

In [118]:
print("학습 데이터 점수: {}".format(model.score(X_train, y_train)))
print("평가 데이터 점수: {}".format(model.score(X_test, y_test)))

학습 데이터 점수: 0.9929577464788732
평가 데이터 점수: 1.0

In [119]:
cross_validate(
    estimator=model,
    X= X, y= y,
    cv= 5,
    n_jobs = multiprocessing.cpu_count(),
    verbose=True
)

[Parallel(n_jobs=2)]: Using backend LokyBackend with 2 concurrent workers.
[Parallel(n_jobs=2)]: Done   5 out of   5 | elapsed:    0.1s finished

{'fit_time': array([0.01600838, 0.01966238, 0.01165557, 0.01234651, 0.01227832]),
 'score_time': array([0.0009737 , 0.00099826, 0.00087333, 0.00098467, 0.00086474]),
 'test_score': array([0.97222222, 0.94444444, 1.        , 1.        , 1.        ])}

In [120]:
scores = cross_val_score(model, X, y, scoring="accuracy", cv = 10)
print("CV 평균 점수: {}".format(scores.mean()))

CV 평균 점수: 0.9888888888888889

### 경사하강법을 이용한 로지스틱회귀모델

In [121]:
from sklearn.linear_model import SGDClassifier

In [122]:
X, y = load_wine(return_X_y=True)

X_train, X_test, y_train, y_test = train_test_split(X, y, random_state = 20)

In [123]:
model = make_pipeline(StandardScaler(), SGDClassifier(loss = "log"))
model.fit(X_train, y_train)

Pipeline(memory=None,
         steps=[('standardscaler',
                 StandardScaler(copy=True, with_mean=True, with_std=True)),
                ('sgdclassifier',
                 SGDClassifier(alpha=0.0001, average=False, class_weight=None,
                               early_stopping=False, epsilon=0.1, eta0=0.0,
                               fit_intercept=True, l1_ratio=0.15,
                               learning_rate='optimal', loss='log',
                               max_iter=1000, n_iter_no_change=5, n_jobs=None,
                               penalty='l2', power_t=0.5, random_state=None,
                               shuffle=True, tol=0.001, validation_fraction=0.1,
                               verbose=0, warm_start=False))],
         verbose=False)

In [124]:
print("학습 데이터 점수: {}".format(model.score(X_train, y_train)))
print("평가 데이터 점수: {}".format(model.score(X_test, y_test)))

학습 데이터 점수: 1.0
평가 데이터 점수: 0.9777777777777777

In [125]:
cross_validate(
    estimator=model,
    X= X, y= y,
    cv= 5,
    n_jobs = multiprocessing.cpu_count(),
    verbose=True
)

[Parallel(n_jobs=2)]: Using backend LokyBackend with 2 concurrent workers.
[Parallel(n_jobs=2)]: Done   5 out of   5 | elapsed:    0.0s finished

{'fit_time': array([0.01115727, 0.01003289, 0.00570416, 0.00526619, 0.00320697]),
 'score_time': array([0.00070858, 0.00102949, 0.00062609, 0.00065303, 0.0004487 ]),
 'test_score': array([0.97222222, 1.        , 0.97222222, 0.94285714, 1.        ])}

In [127]:
scores = cross_val_score(model, X, y, scoring="accuracy", cv = 10)
print("CV 평균 점수: {}".format(scores.mean()))

CV 평균 점수: 0.9833333333333334

### SVC모델

In [129]:
from sklearn.svm import SVC

In [130]:
X, y = load_wine(return_X_y=True)

X_train, X_test, y_train, y_test = train_test_split(X, y, random_state = 20)

In [131]:
scaler = StandardScaler()
scaler.fit(X_train)
X_train = scaler.transform(X_train)
X_test = scaler.transform(X_test)

In [132]:
model = SVC(kernel='rbf')
model.fit(X_train, y_train)

SVC(C=1.0, break_ties=False, cache_size=200, class_weight=None, coef0=0.0,
    decision_function_shape='ovr', degree=3, gamma='scale', kernel='rbf',
    max_iter=-1, probability=False, random_state=None, shrinking=True,
    tol=0.001, verbose=False)

In [133]:
print("학습 데이터 점수: {}".format(model.score(X_train, y_train)))
print("평가 데이터 점수: {}".format(model.score(X_test, y_test)))

학습 데이터 점수: 0.9924812030075187
평가 데이터 점수: 1.0

In [134]:
estimator = make_pipeline(StandardScaler(), SVC(kernel="rbf"))

cross_validate(
    estimator=estimator,
    X= X, y= y,
    cv= 5,
    n_jobs = multiprocessing.cpu_count(),
    verbose=True
)

[Parallel(n_jobs=2)]: Using backend LokyBackend with 2 concurrent workers.
[Parallel(n_jobs=2)]: Done   5 out of   5 | elapsed:    1.0s finished

{'fit_time': array([0.00413537, 0.00390434, 0.00339437, 0.00303912, 0.00287104]),
 'score_time': array([0.00110459, 0.00104451, 0.0009346 , 0.00091362, 0.00078464]),
 'test_score': array([1.        , 0.97222222, 0.94444444, 1.        , 1.        ])}

### 하이퍼 파라미터 값 변경

In [139]:
pipe = Pipeline([("scaler", StandardScaler()),
                 ("model", SVC(kernel='rbf'))])

param_grid = [{'model__gamma': ['scale', 'auto'],
               "model__C": [1.0, 0.1, 0.01],
              "model__degree": [1, 2, 3]}]

gs = GridSearchCV(
    estimator = pipe,
    param_grid = param_grid,
    n_jobs = multiprocessing.cpu_count(),
    cv = 5,
    verbose=True
)

gs.fit(X, y)

Fitting 5 folds for each of 18 candidates, totalling 90 fits

[Parallel(n_jobs=2)]: Using backend LokyBackend with 2 concurrent workers.
[Parallel(n_jobs=2)]: Done  90 out of  90 | elapsed:    0.4s finished

GridSearchCV(cv=5, error_score=nan,
             estimator=Pipeline(memory=None,
                                steps=[('scaler',
                                        StandardScaler(copy=True,
                                                       with_mean=True,
                                                       with_std=True)),
                                       ('model',
                                        SVC(C=1.0, break_ties=False,
                                            cache_size=200, class_weight=None,
                                            coef0=0.0,
                                            decision_function_shape='ovr',
                                            degree=3, gamma='scale',
                                            kernel='rbf', max_iter=-1,
                                            probability=False,
                                            random_state=None, shrinking=True,
                                            tol=0.001, verbose=False))],
                                verbose=False),
             iid='deprecated', n_jobs=2,
             param_grid=[{'model__C': [1.0, 0.1, 0.01],
                          'model__degree': [1, 2, 3],
                          'model__gamma': ['scale', 'auto']}],
             pre_dispatch='2*n_jobs', refit=True, return_train_score=False,
             scoring=None, verbose=True)

In [140]:
print(gs.best_estimator_)
print("최적 점수: {}".format(gs.best_score_))
print("최적 파라미터: {}".format(gs.best_params_))

Pipeline(memory=None,
         steps=[('scaler',
                 StandardScaler(copy=True, with_mean=True, with_std=True)),
                ('model',
                 SVC(C=1.0, break_ties=False, cache_size=200, class_weight=None,
                     coef0=0.0, decision_function_shape='ovr', degree=1,
                     gamma='scale', kernel='rbf', max_iter=-1,
                     probability=False, random_state=None, shrinking=True,
                     tol=0.001, verbose=False))],
         verbose=False)
최적 점수: 0.9833333333333334
최적 파라미터: {'model__C': 1.0, 'model__degree': 1, 'model__gamma': 'scale'}

In [141]:
model = gs.best_estimator_
model.fit(X_train, y_train)

Pipeline(memory=None,
         steps=[('scaler',
                 StandardScaler(copy=True, with_mean=True, with_std=True)),
                ('model',
                 SVC(C=1.0, break_ties=False, cache_size=200, class_weight=None,
                     coef0=0.0, decision_function_shape='ovr', degree=1,
                     gamma='scale', kernel='rbf', max_iter=-1,
                     probability=False, random_state=None, shrinking=True,
                     tol=0.001, verbose=False))],
         verbose=False)

In [143]:
print("학습 데이터 점수: {}".format(model.score(X_train, y_train)))
print("평가 데이터 점수: {}".format(model.score(X_test, y_test)))

학습 데이터 점수: 0.9924812030075187
평가 데이터 점수: 1.0

In [145]:
cross_validate(
    estimator=model,
    X= X, y= y,
    cv= 5,
    n_jobs = multiprocessing.cpu_count(),
    verbose=True
)

[Parallel(n_jobs=2)]: Using backend LokyBackend with 2 concurrent workers.
[Parallel(n_jobs=2)]: Done   5 out of   5 | elapsed:    0.0s finished

{'fit_time': array([0.01114297, 0.00875664, 0.00800133, 0.00310898, 0.0024147 ]),
 'score_time': array([0.00114775, 0.00100422, 0.00089145, 0.00094485, 0.00063348]),
 'test_score': array([1.        , 0.97222222, 0.94444444, 1.        , 1.        ])}